@mixin font-woff($font-family, $url, $weight, $style) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("../fonts/#{$url}.woff") format("woff");
    font-weight: #{$weight};
    font-display: swap;
  }
}

@mixin font-woff2($font-family, $url, $weight, $style) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("../fonts/#{$url}.woff2") format("woff2");
    font-weight: #{$weight};
    font-display: swap;
  }
}

@mixin line-clamp($font-size, $line-height, $lines-to-show) {
  @if unitless($line-height) ==false {
    $line-height: create-unitless-line-height($font-size, $line-height);
  }

  display: block;
  display: -webkit-box;
  font-size: $font-size + px;
  max-height: ($font-size * $line-height * $lines-to-show) + px;
  line-height: $line-height;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines-to-show;
}
@mixin desktop {
  @media (max-width: (1536px)) {
    @content;
  }
}

@mixin large {
  @media (max-width: (1200px)) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: (1024px)) {
    @content;
  }
}

@mixin small-tablet {
  @media (max-width: (768px)) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: (576px)) {
    @content;
  }
}
