.about{
  position: relative;
  &__container{
    width: 100%;
    position: relative;
    @include small-tablet{
      display: flex;
      flex-direction: column;
    }
  }
  &__left{
    z-index: 1;
    max-width: 832px;
  }
  &__item{
    display: flex;
    flex-direction: column;
    color: $default-text;
    gap: 5px;
    &--icon{
      img {
        width: full;
        height: full;
        object-fit: cover;
      }
    }
    &--title{
      font-weight: 500;
      font-size: 18px;
    }
    &--subtitle{
      font-size: 12px;
    }
  }
  &__advantages{
    display: grid;
    gap: 30px;
    max-width: 694px;
    margin-top: 26px;
    grid-template-columns: repeat(2, auto);
    @include small-tablet {
      grid-template-columns: repeat(1, auto); 
    }
  }
  &__items{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__right{
    max-width: 1336px;
    position: absolute;
    right: 0;
    z-index: -1;
    bottom: -86px;
    img{
      width: full;
      object-fit: cover;
      height: full;
    }
    @include small-tablet{
      max-width: max-content;
      position: relative;
      bottom: 0;
    }
  }
  &__title{
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 54px;
    font-weight: 700;
    color: $default-text;
    @include small-tablet{
      font-size: 27px;
    }
  }
  &__text{
    font-size: 18px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    @include small-tablet{
      font-size: 12px;
    }
  }
}