.advantages{
  @keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 255, 47, 0.5);
        box-shadow: 0 0 0 0 rgba(0, 255, 47, 0.5)
    }

    70% {
        -webkit-box-shadow: 0 0 0 8px transparent;
        box-shadow: 0 0 0 8px transparent
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 transparent;
        box-shadow: 0 0 0 0 transparent
    }
}
@keyframes pulse-red {
  0% {
      -webkit-box-shadow: 0 0 0 0 rgba(225, 43, 43, 0.5);
      box-shadow: 0 0 0 0 rgba(225, 43, 43, 0.5);
  }

  70% {
      -webkit-box-shadow: 0 0 0 8px transparent;
      box-shadow: 0 0 0 8px transparent
  }

  100% {
      -webkit-box-shadow: 0 0 0 0 transparent;
      box-shadow: 0 0 0 0 transparent
  }
}
  padding-top: 180px;
    @include small-tablet {
      padding-top: 60px;
    }

  &__title{
    color: $default-text;
    font-size: 44px;
    margin-bottom: 80px;
    font-weight: bold;
    @include small-tablet {
      font-size: 25px;
      margin-bottom: 50px;
    }
  }
  &__line {
    border-top: 2px solid $color-orange;
    width: 100%;
  }
  &__icon {
    width: 60px;
    height: 60px;
    display: flex;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    &:before {
      content: '';
      position: absolute;
      width: 60px;
      height: 60px;
      background-color: transparent;
      border-radius: 100%;
      left: 0;
      top: 0;
      z-index: -1;
      animation: pulse 2s infinite;
      @include small-tablet {
        width: 35px;
        height: 35px;
      }
    }
    &:after{
      content: '';
      position: absolute;
      -webkit-box-shadow: 0 3px 18px 4px rgba(34, 30, 31, .05);
      box-shadow: 0 3px 18px 4px rgba(34, 30, 31, .05);
      border-radius: 0 0 6px 6px;
      background-image: radial-gradient(circle 55px at center, #ffffff 0%, #ffffff 100%);
      opacity: 0;
      width: 93%;
      height: .5rem;
      top: 100%;
      left: 50%;
      -webkit-transform: translatex(-50%);
      transform: translatex(-50%);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    top: 30px;
    left: 30px;
    position: absolute;
    @include small-tablet {
      width: 35px;
      height: 35px;
      top: 20px;
      left: 15px;
    }
  }
  &__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      object-fit: cover;
       @include small-tablet {
        max-height:300px;
       }
      @include mobile {
         max-height: 200px;
      }
    }
  }
  &__item{
    &-wrapper {
      display: flex;
      position: relative;
      flex-direction: column;
      gap: 20px;
      max-width: 590px;
    }
    &-title{
      color: $default-text;
      font-size: 24px;
      font-weight: 500;
      @include small-tablet {
        font-size: 18px;
      }
    }
    &-subtitle{
      color: $default-text;
      font-size: 18px;
      font-weight: 400;
      @include small-tablet {
        font-size: 12px;
      }
    }
    &__bottom {
      display: flex;
      align-items: center;        
      color: $default-text;
      gap: 5px;
      &-icon {
        width: 40px;
        height: 40px;
        display: flex;
        flex-shrink: 0;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          width: 40px;
          height: 40px;
          background-color: transparent;
          border-radius: 100%;
          left: 0;
          top: 0;
          z-index: -1;
          animation: pulse-red 1s infinite;
          @include small-tablet {
            width: 30px;
            height: 30px;
          }
        }
        &:after{
          content: '';
          position: absolute;
          -webkit-box-shadow: 0 3px 18px 4px rgba(34, 30, 31, .05);
          box-shadow: 0 3px 18px 4px rgba(34, 30, 31, .05);
          border-radius: 0 0 6px 6px;
          background-image: radial-gradient(circle 55px at center, #ffffff 0%, #ffffff 100%);
          opacity: 0;
          width: 93%;
          height: .5rem;
          top: 100%;
          left: 50%;
          -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
        }
        img {    
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        @include small-tablet {
          width: 30px;
          height: 30px;
        }
      }
      &-text {
        font-size: 16px;
        font-weight: 300;
        span {
          font-weight: 500;
        }
        @include small-tablet {
          font-size: 11px;
        }
      }
      @include small-tablet {
        gap: 15px;
      }
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    row-gap: 62px;
    justify-items: center;
    @include small-tablet {
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
    }
  }
  &__image{
    img {
      border-radius: 20px;      
    }
  }

}