.form {
  width: 100%;
  padding: 20px 25px;
  text-align: center;
  background-color: $color-grey;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 20px;
    margin-bottom: 14px;

    @include small-tablet {
      font-size: 12px;
      margin-bottom: 8px;
    }
  }

  &__descr {
    font-size: 15px;
    margin-bottom: 28px;

    @include small-tablet {
      font-size: 9px;
      margin-bottom: 13px;
    }
  }

  &__label {
    display: block;
    max-width: 320px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    text-align: left;
    position: relative;

    input[type="file"] {
      display: none
    }

    &--file {
      padding: 10px;
      border: 1px solid $color-dark;
      border-radius: 5px;
      color: #6C6C6C;

      &::after {
        content: "";
        width: 20px;
        height: 20px;
        background-image: url('../images/icons/file-icon.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 9px;
        right: 16px;

        @include small-tablet {
          width: 13px;
          height: 13px;
          right: 12px;
        }
      }
    }

    @include small-tablet {
      font-size: 11px;
    }
  }

  &__input {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 10px;
    border: 1px solid $color-dark;
    border-radius: 5px;

    &--small {
      padding-left: 5px;
      padding-right: 5px;

      &::placeholder {
        font-size: 12px;
      }
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    max-width: 320px;

    .form__label {
      &:not(:last-child) {
        margin-right: 3px;
      }
    }
  }

  &__btn {
    font-size: 18px;
    padding: 9px 50px;
    margin-bottom: 20px;

    @include small-tablet {
      padding: 9px;
    }
  }

  &__apply {
    margin-bottom: 14px;
  }

  &__apply {
    max-width: 205px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
  }

  &__box {
    position: relative;
  }

  &__check {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
  }

  .form__check:checked+.form__checkbox {
    background-image: url('../images/icons/apply.svg');
    border-color: $color-dark;
  }

  &__checkbox {
    width: 10px;
    height: 10px;
    border: 1px solid $color-dark;
    background-color: transparent;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__text {
    padding-left: 15px;
    font-weight: 300;
    font-size: 9px;

    @include small-tablet {
      font-size: 7px;
      text-align: left;
      padding-left: 20px;
    }
  }

  &__contacts {
    max-width: 200px;
    display: flex;
    flex-direction: column;

    span {
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 14px;

      @include small-tablet {
        margin-bottom: 9px;
      }
    }

    @include small-tablet {
      font-size: 12px;
    }
  }
}