.header {
  color: $color-white;
  background: linear-gradient(180deg, rgba(3, 3, 3, 0.8) 12.9%, rgba(10, 10, 10, 0.8) 17.09%, rgba(222, 134, 67, 0.8) 100%);
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0;

    @include small-tablet {
      padding: 10px 0;
    }
  }

  &__inner {
    margin-right: 20px;

    &--logo {
      display: flex;
      align-items: center;
    }

    &--links {
      @include small-tablet {
        margin-right: 0;
        margin-bottom: 40px;
      }
    }
  }

  &__logo {
    margin-right: 15px;

    @include small-tablet {
      max-width: 120px;
      height: 50px;
    }
  }

  &__descr {
    max-width: 129px;
    font-weight: 300;
    font-size: 12px;
    margin-top: 10px;

    @include tablet {
      display: none;
    }
  }

  &__btn {
    color: $color-dark;

    @include small-tablet {
      font-size: 14px;
      padding: 12px;
    }
  }

  .social {
    margin: 10px 0;

    &__item:last-child {
      display: none;

      @include tablet {
        display: block;
      }
    }

    @include small-tablet {
      flex-direction: row;
    }
  }

  &__question {
    padding: 14px 13px;
    padding-left: 54px;
    border-radius: 20px;
    background-color: rgba($color-white, 0.7);
    color: $color-dark;
    background-image: url('../images/icons/whatsapp.svg');
    background-size: 35px;
    background-position: left 10px center;
    background-repeat: no-repeat;

    @include large {
      margin-bottom: 10px;
    }

    @include small-tablet {
      display: none;
    }
  }

  &__contacts {
    max-width: 369px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include large {
      width: auto;
      flex-direction: column;
      align-items: flex-end;
    }

    @include tablet {
      display: none;
    }

    @include small-tablet {
      display: flex;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include small-tablet {
      padding-left: 50px;
    }
  }

  &__link {
    padding: 6px 0;
    border-bottom: 1px dashed;
    position: relative;

    &::before {
      content: "";
      width: 30px;
      height: 30px;
      background-size: cover;
      background-position: left center;
      background-repeat: no-repeat;
      position: absolute;
      left: -45px;
      top: 5px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &--phone {
      &::before {
        background-image: url('../images/icons/phone.svg');
      }
    }

    &--mail {
      &::before {
        background-image: url('../images/icons/mail.svg');
      }
    }
  }

  &__bottom {
    z-index: 100;
    background-color: rgba($color-dark, 0.9);

    &--fixed {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
    }
  }

  @include small-tablet {
    position: fixed;
  }
}

.burger-btn {
  display: none;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 9999;

  span,
  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: $color-white;
    position: absolute;
    transition: transform 0.3s ease-in;
    left: 50%;
    transform: translateX(-50%);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &--active {
    span {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-230deg);
    }

    &::before {
      top: 50%;
      transform: translate(-50%, -50%) rotate(47deg);
    }

    &::after {
      opacity: 0;
    }
  }

  @include small-tablet {
    display: flex;
  }
}

.nav {
  max-width: 146px;
  width: 100%;
  margin-right: 20px;

  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
    padding: 2px 0;
    padding-left: 12px;
    border: 1px solid transparent;
    text-transform: uppercase;
    transition: border-color 0.3s ease;

    &:hover {
      border-color: $color-orange;
    }

    &--active {
      border-color: $color-orange;
    }

    &--menu {
      position: relative;

      &::after {
        content: "";
        width: 10px;
        height: 10px;
        background-image: url('../images/icons/arr-header.svg');
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 3px;
        right: 30px;
        transition: transform 0.3s ease-in;
        display: none;

        @include small-tablet {
          display: block;
        }
      }
    }

    @include small-tablet {
      width: auto;
      padding-left: 7px;
      padding-right: 50px;
    }
  }

  @include small-tablet {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.submenu {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include small-tablet {
      display: none;
      flex-direction: column;
      padding-left: 7px;
      margin-top: 10px;

      &--active {
        display: block;
      }
    }
  }

  &__item {
    &:last-child {
      .submenu__btn {
        padding-right: 19px;

        &::before {
          content: "";
          width: 10px;
          height: 10px;
          background-image: url('../images/icons/arr-header.svg');
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
          position: absolute;
          top: 52%;
          transform: translateY(-50%);
          right: 6px;
          transition: transform 0.3s ease-in;
        }
      }
    }

    &:hover {
      &::before {
        transform: rotate(180deg);
      }

      .dropdown {
        display: block;
        opacity: 1;
        visibility: visible;
      }

      @include small-tablet {
        .dropdown:not(.dropdown--active) {
          display: none;
        }
      }
    }
  }

  &__btn {
    font-size: 9px;
    display: inline-block;
    padding: 17px 8px;
    color: $color-white;
    position: relative;

    &::after {
      content: "";
      width: 1px;
      height: 100%;
      background-color: $color-white;
      position: absolute;
      right: 0;
      height: 15px;
      top: 50%;
      transform: translateY(-50%);

      @include small-tablet {
        display: none;
      }
    }

    @include small-tablet {
      padding: 10px 19px;
      padding-left: 0;
    }
  }
}

.dropdown {
  position: absolute;
  z-index: 20;
  padding: 21px 27px;
  border-top: 3px solid $color-orange;
  background-color: $color-dark;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 50;
  display: none;

  &__item {
    &:not(:last-child) {
      margin-bottom: 25px;

      @include small-tablet {
        margin-bottom: 10px;
      }
    }
  }

  &__link {
    @include small-tablet {
      font-size: 10px;
    }
  }

  &--active {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  @include small-tablet {
    position: relative;
    padding: 0;
    padding-left: 20px;
    border-top: none;
  }
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;

  &__overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-dark, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s;
  }

  &__wrapper {
    width: 280px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 999;
    background-color: $color-dark;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding: 100px 20px;
    padding-bottom: 20px;
    overflow: auto;
  }


  .modal-transition {
    transition: all 0.3s 0.12s;
    transform: translateX(100%);
    opacity: 1;
  }

  &--visible {
    visibility: visible;

    .header-menu__overlay {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;
    }

    .modal-transition {
      transform: translateX(0);
      opacity: 1
    }
  }
}