.requisites {
  padding-bottom: 100px;
  padding-top: 100px;
  @include tablet {
    padding-top: 20px;
    padding-bottom: 46px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 40px;
     @include tablet{
       flex-direction: column;
       gap: 60px;
     }
  }
  &__left {
    max-width: 331px;
    width: 100%;
    flex-wrap: nowrap;
    word-break: break-all;
    display: flex;
    gap: 50px;
    flex-direction: column;
    @include tablet {
      max-width: 100%;
    }
  }
  &__right {
    max-width: 728px;
    width: 100%;
    &-title {
      text-align: left;
      margin-bottom: 51px;  
      font-size: 35px;
      @include mobile {
        font-size: 25px;
      }
    }
   }
  &__text {
    &-list {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      gap: 20px;
      font-weight: 300;
      @include tablet {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
      @include small-tablet {
        grid-template-columns: repeat(2, 1fr);
        font-size: 14px;
      }
      @include mobile {
        display: flex;
        // text-align: center;
        gap: 15px;
      }
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
   &-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @include large {
      grid-template-columns: repeat(1, 1fr);
    }
   }
    &-item {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    
    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
    &-bottom {
      display: grid;
      align-items: center;
      gap: 28px;
      grid-template-columns: repeat(2, 1fr);
      &-checkbox {
        display: flex;
        gap: 10px;
        font-weight: 300;
        max-width: 100%;
        input[type='checkbox']:checked {
          accent-color: #3C5B9B;
        }
      }
      @include large {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
      }
    }
  }
  &__bottom {
    &-file {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 10px;
       &-icon {
      border-radius: 50%;
      padding: 20px;
      border: 2px solid $color-orange;
      img {
        min-width: 20px;
        min-height: 17px;
      }
     
    } 
    &-subtitle {
      font-weight: 300;
    }
  }
  &-item {
    gap: 5px;
    display: flex;
    flex-direction: column;
  }
  &-input {
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
  }
  &-text {
    display: flex ;
    flex-direction: column;
  }
  }
  &__options {
    display: flex;
    flex-direction: column;
    gap: 5px;
    &-group {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      @include large {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      @include tablet {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
      @include small-tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      } @include mobile {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
    }
    &-input {
      max-width: 100%;
      cursor: pointer;
      font-weight: 300;
    }
    &-input:focus {
      background-color: $color-orange;
      outline: none;
    }

    .checkbox-wrapper-16 .checkbox-input {
      clip: rect(0 0 0 0);
      -webkit-clip-path: inset(100%);
      clip-path: inset(100%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile {
      border-color: #000;
      background-color: $color-orange;
      transition: 0.15s ease;
      color: #000;
    }

    .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile:before {
      transform: scale(1);
      opacity: 1;
      background-color: #000;
      border-color: #000;
    }

    .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-icon,
    .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-label {
      color: #000;
      background-color: $color-orange;
      transition: 0.15s ease;
    }

    .checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile:before {
      transform: scale(1);
      opacity: 1;
    }

    .checkbox-wrapper-16 .checkbox-tile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px 15px;
      border-radius: 0.5rem;
      border: 1px solid #000;
      background-color: #fff;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      font-weight: 300;
      transition: 0.15s ease;
      cursor: pointer;
      position: relative;

      &:hover {
        border-color: #9a9a9a;
      }

      &:hover:before {
        transform: scale(1);
        opacity: 1;
      }
    }

    .checkbox-wrapper-16 .checkbox-label {
      color: #000;
      text-align: center;
    }
  }
}
