.why-us{
  padding-top: 100px;
  padding-bottom: 50px;
  @include small-tablet {
    padding-top: 60px;
  }
  &__container {
    position: relative;
    @include small-tablet {
      font-size: 25px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 44px;
    color: $color-orange;
    margin-bottom: 15px;
    &-default_text {
      color: $default-text;
    }
    @include small-tablet {
      font-size: 25px;
    }
  }
  &__subtitle {
    font-weight: 500;
    max-width: 618px;
    font-size: 35px;
    color: $default-text;
    margin-bottom: 83px;
    span {
      color: $color-orange;
    }
    @include small-tablet {
      font-size: 18px;
      margin-bottom: 50px;
    }
  }
  &__box {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $default-text;
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 45px;
  }
  &__item { 
    &-wrapper {
      max-width: 728px;
     &--width {
      max-width: 494px;
     }
    }
    &-icon {
      width: 40px;
      height: 40px;
      display: flex;
      flex-shrink: 0;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    &-title {
      font-size: 25px;
      font-weight: 500;
      @include small-tablet {
        font-size: 16px;
      }
    }
    &-text {
      font-weight: 300;
      font-size: 22px;
      @include small-tablet {
        font-size: 12px;
      }
    }
  }
  &__left {
    position: relative;
    width: 100%;
    z-index: -1;
    img { 
      object-fit: cover;
      width: 60%;
      margin-left: auto;
      position: absolute;
      bottom: 0;
      right: 0;
        @include small-tablet {
        max-width: 100%;
        position: relative;
      }
    }
  }
&__team { 
  max-height: 670px;
  width: 100%;
  margin: 0 auto;
  &::before {
    display: block;
    content: "";
  }
  img {
    display: block;
    border-radius: 20px;
    object-fit: cover;
    object-position: top;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
    width: 100%;
    height: 100%;
    min-height: 430px;
    aspect-ratio: 1215 / 670;
  }
}
}